Repository viseshrp/whatsonpypi: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry, cog

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --disallow-untyped-defs
  - --no-implicit-optional
  - --warn-unused-ignores
  - --warn-return-any

vulture:
  name: vulture
  entry: vulture
  language: system
  args:
  - whatsonpypi
  - tests
  - --min-confidence
  - '80'
  pass_filenames: false

deptry:
  name: deptry
  entry: uv run deptry .
  language: python
  language_version: python3
  pass_filenames: false

cog:
  name: cog
  entry: cog
  language: system
  require_serial: true
  args:
  - -r
  - README.md

fix type in client
  whatsonpypi/client.py
Due: mypy, vulture, deptry

docs
  CHANGELOG.md
  README.md
Due: cog

cleanup history output
  tests/test_cli.py
  tests/test_whatsonpypi.py
  whatsonpypi/client.py
  whatsonpypi/utils.py
Due: mypy, vulture, deptry

Update CHANGELOG.md
  CHANGELOG.md
Due: cog

fix not found errors
  whatsonpypi/client.py
Due: mypy, vulture, deptry

Update codecov.yml
  codecov.yml
Due: none

cleanup
  whatsonpypi/client.py
  whatsonpypi/utils.py
Due: mypy, vulture, deptry

Feat/0.5 (#159)
  CHANGELOG.md
  README.md
  codecov.yml
  tests/test_cli.py
  tests/test_whatsonpypi.py
  whatsonpypi/client.py
  whatsonpypi/utils.py
Due: mypy, vulture, deptry, cog

cruft update
  .cruft.json
  scripts/check_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry

Update check_changelog_date.py
  scripts/check_changelog_date.py
Due: mypy, vulture, deptry

Revert "Update check_changelog_date.py"
  scripts/check_changelog_date.py
Due: mypy, vulture, deptry

cruft update
  .cruft.json
  scripts/check_changelog_date.py
Due: mypy, vulture, deptry

cruft update
  .cruft.json
  scripts/tag_release.sh
Due: none

0.4.3 (#160)
  .cruft.json
  CHANGELOG.md
  scripts/check_changelog_date.py
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry, cog

fix docs
  README.md
  demo.tape
Due: cog

Update README.md
  README.md
Due: cog

fix docs (#161)
  README.md
  demo.tape
Due: cog

chore(demo): update demo.gif
  demo.gif
Due: none

chore(demo): update demo.gif (#162)
  demo.gif
Due: none

cruft
  .cruft.json
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

Cruft (#164)
  .cruft.json
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

chore(pre-commit): Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Update pre-commit hooks (#165)
  .pre-commit-config.yaml
Due: none

cruft
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/main.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/vhs.yml
Due: none

cruft update
  .cruft.json
  .github/workflows/codeql.yml
Due: none

cruft (#166)
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/codeql.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/main.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/vhs.yml
Due: none

cruft
  .cruft.json
  .github/workflows/codeql.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  vulture: any of: \.py$
  deptry: any of: \.py$
  cog: any of: \.(md|markdown|mdown)$
