Repository viseshrp/whatsonpypi: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry, cog

.pre-commit-config.yaml:

repos:
  # ðŸ§° Built-in hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.py$  # Ruff handles Python files

  # âœ¨ Ruff for lint + format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [ --exit-non-zero-on-fix ]

  # ðŸ§ª Typing, dependency, security checks
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [
          --line-length=100,
          --target-version=py39
        ]

  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        args: [ "--strict" ]
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [ "-lll", "-n", "3", "-r", "-x", "venv/*,setup.py,tests/*" ]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args: [ --fix, --disable, MD024 ]

  # ðŸ§± Local system hooks (for tools with no mirrors or your preference)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        args: [
          "--disallow-untyped-defs",
          "--no-implicit-optional",
          "--warn-unused-ignores",
          "--warn-return-any"
        ]

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        types: [ python ]
        args: [
          "whatsonpypi",
          "tests",
          "--min-confidence", "80"
        ]
        pass_filenames: false

      - id: deptry
        name: deptry
        entry: uv run deptry .
        language: python
        language_version: python3
        types: [ python ]
        pass_filenames: false

      - id: cog
        name: cog
        entry: cog
        language: system
        types: [ markdown ]
        require_serial: true
        args: [ "-r", "README.md" ]

Update pyproject.toml
  pyproject.toml
Due: none

Create uv.lock
  uv.lock
Due: none

upgrade
  pyproject.toml
  uv.lock
Due: none

linting
  CHANGELOG.md
  whatsonpypi/client.py
  whatsonpypi/constants.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry, cog

cruft update
  .cruft.json
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/validate-codecov-config.yml
  .pre-commit-config.yml
  MANIFEST.in
  Makefile
  codecov.yml
  pyproject.toml
Due: none

cruft update
  .cruft.json
  pyproject.toml
Due: none

cruft update
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix dunder files
  whatsonpypi/__init__.py
  whatsonpypi/__main__.py
  whatsonpypi/_version.py
Due: mypy, vulture, deptry

cruft update
  .cruft.json
  .github/workflows/main.yml
Due: none

cruft update
  .cruft.json
  .github/workflows/main.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

cruft update
  .cruft.json
  .github/workflows/vhs-pr-comment.yml
Due: none

chore(demo): update demo.gif
  demo.gif
Due: none

Update test_whatsonpypi.py
  tests/test_whatsonpypi.py
Due: mypy, vulture, deptry

add type hints
  tests/test_whatsonpypi.py
  whatsonpypi/cli.py
  whatsonpypi/client.py
  whatsonpypi/constants.py
  whatsonpypi/exceptions.py
  whatsonpypi/param_types.py
  whatsonpypi/utils.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry

Update CHANGELOG.md
  CHANGELOG.md
Due: cog

fix unused args
  whatsonpypi/utils.py
Due: mypy, vulture, deptry

cruft update
  .cruft.json
  codecov.yml
  pyproject.toml
Due: none

Update whatsonpypi.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry

chore(demo): update demo.gif (#141)
  demo.gif
Due: none

add new alias: wopp
  CHANGELOG.md
  pyproject.toml
Due: cog

Update demo.tape
  demo.tape
Due: none

Update README.md
  README.md
Due: cog

remove reqs feature
  whatsonpypi/cli.py
  whatsonpypi/constants.py
  whatsonpypi/exceptions.py
  whatsonpypi/param_types.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry

Version specific querying only supports `==` now
  CHANGELOG.md
  whatsonpypi/constants.py
  whatsonpypi/utils.py
Due: mypy, vulture, deptry, cog

use named groups
  whatsonpypi/constants.py
  whatsonpypi/utils.py
Due: mypy, vulture, deptry

add rich for pretty out
  pyproject.toml
  uv.lock
  whatsonpypi/utils.py
Due: mypy, vulture, deptry

clean table header
  whatsonpypi/utils.py
Due: mypy, vulture, deptry

Update client.py
  whatsonpypi/client.py
Due: mypy, vulture, deptry
