Repository viseshrp/whatsonpypi: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry, cog

.pre-commit-config.yaml:

repos:
  # ðŸ§° Built-in hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.py$  # Ruff handles Python files

  # âœ¨ Ruff for lint + format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [ --exit-non-zero-on-fix ]

  # ðŸ§ª Typing, dependency, security checks
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [
          --line-length=100,
          --target-version=py39
        ]

  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        args: [ "--strict" ]
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [ "-lll", "-n", "3", "-r", "-x", "venv/*,setup.py,tests/*" ]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args: [ --fix, --disable, MD024 ]

  # ðŸ§± Local system hooks (for tools with no mirrors or your preference)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        args: [
          "--disallow-untyped-defs",
          "--no-implicit-optional",
          "--warn-unused-ignores",
          "--warn-return-any"
        ]

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        types: [ python ]
        args: [
          "whatsonpypi",
          "tests",
          "--min-confidence", "80"
        ]
        pass_filenames: false

      - id: deptry
        name: deptry
        entry: uv run deptry .
        language: python
        language_version: python3
        types: [ python ]
        pass_filenames: false

      - id: cog
        name: cog
        entry: cog
        language: system
        types: [ markdown ]
        require_serial: true
        args: [ "-r", "README.md" ]

Update README.md
  README.md
Due: cog

Revamp (#143)
  .cruft.json
  CHANGELOG.md
  README.md
  demo.tape
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_whatsonpypi.py
  uv.lock
  whatsonpypi/cli.py
  whatsonpypi/client.py
  whatsonpypi/constants.py
  whatsonpypi/exceptions.py
  whatsonpypi/param_types.py
  whatsonpypi/utils.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry, cog

chore(demo): update demo.gif
  demo.gif
Due: none

chore(demo): update demo.gif (#144)
  demo.gif
Due: none

cruft update
  .cruft.json
  Makefile
Due: none

cruft update (#145)
  .cruft.json
  Makefile
Due: none

Cruft (#146)
  .cruft.json
  Makefile
Due: none

Update cli.py
  whatsonpypi/cli.py
Due: mypy, vulture, deptry

Update CHANGELOG.md
  CHANGELOG.md
Due: cog

Fixed CLI help text
  README.md
  whatsonpypi/cli.py
Due: mypy, vulture, deptry, cog

fix CLI comment/help text (#147)
  CHANGELOG.md
  README.md
  whatsonpypi/cli.py
Due: mypy, vulture, deptry, cog

chore(demo): update demo.gif (#148)
  demo.gif
Due: none

cruft update
  .cruft.json
  .github/workflows/vhs.yml
  Makefile
Due: none

cruft update
  .cruft.json
  codecov.yml
Due: none

Cruft update (#149)
  .cruft.json
  .github/workflows/vhs.yml
  Makefile
  codecov.yml
Due: none

chore(demo): update demo.gif (#150)
  demo.gif
Due: none

change output order
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry

recent 10 versions only
  whatsonpypi/client.py
Due: mypy, vulture, deptry

change output order (#151)
  CHANGELOG.md
  README.md
  whatsonpypi/client.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry, cog

cruft update
  .cruft.json
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Cruft (#152)
  .cruft.json
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(pre-commit): Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Update pre-commit hooks (#153)
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Update pre-commit hooks (#155)
  .pre-commit-config.yaml
Due: none

cruft update
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  pyproject.toml
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
  whatsonpypi/__init__.py
  whatsonpypi/cli.py
  whatsonpypi/constants.py
  whatsonpypi/exceptions.py
Due: mypy, vulture, deptry, cog

Update uv.lock
  uv.lock
Due: none

Cruft (#156)
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  pyproject.toml
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
  uv.lock
  whatsonpypi/__init__.py
  whatsonpypi/cli.py
  whatsonpypi/constants.py
  whatsonpypi/exceptions.py
Due: mypy, vulture, deptry, cog

chore(demo): update demo.gif (#157)
  demo.gif
Due: none

bump requests
  pyproject.toml
  uv.lock
Due: none

refactor
  whatsonpypi/client.py
  whatsonpypi/utils.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry

update deps + refactor (#158)
  pyproject.toml
  uv.lock
  whatsonpypi/client.py
  whatsonpypi/utils.py
  whatsonpypi/whatsonpypi.py
Due: mypy, vulture, deptry
